/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}


/** from ts */


pre,
code {
  color: #060;
}

a,
a code {
  color: #216093;
}

table {
  border-collapse: collapse;
  border: 0;
}

td {
  border: 0;
  padding: 0;
}

#body {
  margin: auto;
  max-width: 850px;
}

#header {
  margin-bottom: 15px;
  margin-right: 30px;
}

#content,
#footer {
  margin-left: 31px;
  margin-right: 31px;
}

#content p,
#content li,
#footer {
  line-height: 16pt;
}

#content pre {
  line-height: 14pt;
  margin: 17pt;
  padding-left: 1em;
  border-left: 1px solid #ccc;
  align: left;
}

#footer {
  margin-top: 5em;
}

#header .logo {
  line-height: 0;
  padding-bottom: 5px;
  padding-right: 15px;
}

#header .logo img {
  width: 286px;
  height: 72px;
}

#header .title {
  vertical-align: bottom;
}

#header .title h1 {
  font-size: 35px;
  font-weight: normal;
}

#header .title h1,
#header .title h1 a {
  color: #666;
}

#content h1,
#content h2,
#content h3 {
  color: #4d8cbf;
  margin-bottom: 2pt;
  margin-top: 17pt;
}

#content h2 {
  font-size: 19pt;
}

#content h3 {
  font-size: 15pt;
}

#content p {
  margin: 0;
  margin-bottom: 1em;
  align: left;
}

